<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>coin</key>
		<dict>
			<key>delay</key>
			<string>0.05</string>
			<key>frames</key>
			<array>			
				<string>coin0.png</string>
				<string>coin1.png</string>				
				<string>coin2.png</string>			
				<string>coin3.png</string>			
				<string>coin4.png</string>			
				<string>coin5.png</string>			
				<string>coin6.png</string>			
				<string>coin7.png</string>
			</array>
		</dict>
	</dict>
	<key>textureFileName</key>
	<string>coin.plist</string>
</dict>
</plist>